version: "3.4"

services:
  mosquitto:
    # We expect a "mosquitto.conf" file to be in the "/config" folder
    command: mosquitto -c /config/mosquitto.conf
    volumes:
      # We expect the mosquitto config files to be located in the currrent folder "config"
      - ./config:/config:ro
