# This is an example environment file with authentication check in mosquitto.
# Take a look at the provided "env.example" file if you don't need authentication
# in mosquitto.
#
# Copy the contents of this file to a file named ".env" and set there
# your settings as necessary, e.g. "cp env-with-auth.example .env".
#
# The ".env" file will be used by docker-compose to set environment
# variables for the MQTT container.

# =================================================================
# MQTT configuration (mosquitto is used, see https://mosquitto.org/)
# =================================================================

# mosquitto configuration file to use. The mosquitto-with-auth.conf below
# starts a mosquitto instance on port 1883 with authentication enabled.
# Please take a look at https://mosquitto.org/documentation/authentication-methods/
# to see how authentication can be configured.
MOSQUITTO_CONF=./docker/mosquitto/mosquitto-with-auth.conf

# Directory with additional configuration files for mosquitto. For more
# information, take a look at "include_dir" in
# https://mosquitto.org/man/mosquitto-conf-5.html
# In this example case, the directory contains password file that is referenced
# by the mosquitto conf (see MOSQUITTO_CONF setting in this file).
MOSQUITTO_INCLUDE_DIR=./docker/mosquitto/conf.d