# This is an example environment file that allows anonymous access
# to the MQTT broker.
# Take a look at the provided "env-with-auth.example" file if you
# want to use mosquitto with authentication.
#
# Copy the contents of this file to a file named ".env" and set there
# your settings as necessary, e.g. "cp env.example .env".
#
# The ".env" file will be used by docker-compose to set environment
# variables for the MQTT container.

# =================================================================
# MQTT configuration (mosquitto is used, see https://mosquitto.org/)
# =================================================================

# mosquitto configuration file to use. The default mosquitto.conf below
# starts a mosquitto instance on port 1883 with anonymous access
MOSQUITTO_CONF=./docker/mosquitto/mosquitto.conf

# Directory with additional configuration files for mosquitto. For more
# information, take a look at "include_dir" in
# https://mosquitto.org/man/mosquitto-conf-5.html
MOSQUITTO_INCLUDE_DIR=./docker/mosquitto/conf.d