# The port mosquitto can be accessed on the host
SERVER_PORT=1883

# The username and password for the restricted topic access
AUTH_USER=my_user
AUTH_PASSWORD=my_password

# Allow anonymous read / write access to this topic.
# Use # to allow access to topic and its subtopics,
# e.g. "/open/#" allows read / write access to topic
# "/open" and all of its subtopics like "/open/one".
TOPIC_ANONYMOUS=/open/#

# Allow user defined by the environment variable
# AUTH_USER read / write access to this restricted
# topic. Note that AUTH_USER is allowed to read / write
# to this topic only, it can e.g. not read / write
# to the anonymous topic.
TOPIC_RESTRICTED=my_topic

# Only needed by infrastructure/docker-compose.build.yml
# Set names at your choice...
COMPOSE_PROJECT_NAME=mqtt
DOCKER_IMAGE=odh-broker-mqtt_mosquitto
DOCKER_TAG=test-001